.card-design {
  border: 1px solid yellowgreen;
  padding: 55px;
  width: 385px;
  height: 311px;
  margin: 10px;
  background-image: linear-gradient(to right, #fffc00, #ffffff);
  font-family: Railway;
  transition: background-image 0.1s linear;
  border-radius: 4px;
}

.card-design:hover {
  background-image: linear-gradient(to bottom, #ffffff, #fffc00);
}

.link-btn {
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #434343 51%,
    #000000 100%
  );
}
.btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-btn {
  padding: 9px 7px;
  text-transform: uppercase;
  background-size: 100% auto;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.service-icon {
  transition: transform 0.2s;
}

.service-icon:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
