.footer-top {
  background-color: #000000;
  height: 450px;
}

.social {
  color: #0066ff;
  font-size: 30px;
  margin: 15px;
}
.contact p {
  font-family: "Railway";
  font-size: 18px;
}

.footer-logo {
  color: #ffeb00;
  font-size: 40px;
  font-weight: 200;
  font-family: "Times New Roman", Times, serif;
}
