.btn-container {
  height: 812px;
  background: linear-gradient(100deg, #00c3ff 0%, #ffff1c 25%);
}
.font-icon {
  font-size: 50px;
  padding-right: 25px;
}
.google {
  padding-right: 50px;
  color: red;
  font-size: 50px;
  font-family: RAILWAY;
}
